cache
!cache/.htaccess
files
!files/.htaccess
include/config.local.php
stats
source
.well-known
rss_feed.xml
/vendor/
.php-cs-fixer.cache
GEOIP

# Temporary test files
include/config.local.php
cache/langs*.php
